@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  @apply w-full;
}
:root {
  accent-color: #e24755;
}
body {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "lavarwave", sans-serif;
  }
}
.actived {
  overflow: hidden;
  transform-origin: right;
  transform: scaleX(10px);
  transition: all 0.5s;
}
* {
  word-break: keep-all;
}
