@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  @apply w-full;
}
:root {
  accent-color: #e24755;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "lavarwave", sans-serif;
}
#table::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}
#table::-webkit-scrollbar-thumb {
  background-color: #d3d1cb;
}

#table::-webkit-scrollbar-track {
  background-color: #edece9;
}
* {
  word-break: keep-all;
}
